<!DOCTYPE html>
<html lang="en">
<head>
  {{> meta.html }}

  {{# stylesheets.load }}
    bootstrap.min.css
    bootstrap-responsive.min.css
    google_prettify/tomorrow-night.css
    tk-style.css
    tk-style-portal.css
  {{/ stylesheets.load }}

</head>
<body>

  {{> header.html }}

  <div class="container">
    <div class="row">
      <div class="span10"><div id="contents-pane">

        {{> site-title.html }}

        {{# posts.paginator }}
        <hr style="margin: 1.5em 0 1.0em 0;"/>
        <div class="row">
          <div class="span2">

            {{> date-block.html }}

          </div>
          <div class="span8">

              <div class="page">
                <div class="summary-block radius">
                <h1 class="headline-title"><a href="{{url}}">{{title}}</a></h1>
                  {{{ summary }}}
                </div>
                <div class="more">
                  <a href="{{url}}" class="btn read-more-btn pull-right">Read More...</a>
                </div>
              </div>

          </div>
        </div>
        {{/ posts.paginator }}

      </div></div>
      <div class="span2"><div id="menu-pane">

        {{> menu.html }}

      </div></div>
    </div>
  </div>

  {{> paginator.html }}

  {{> footer_root.html }}

  {{> common-widgets.html }}

  </body>
</html>
