<!DOCTYPE html>
<html lang="en">
<head>
  {{> meta.html }}

  {{# stylesheets.load }}
    bootstrap.min.css
    bootstrap-responsive.min.css
    google_prettify/tomorrow-night.css
    tk-style.css
    tk-style-portal.css
  {{/ stylesheets.load }}

</head>
<body>

  {{> header.html }}

  <div class="container">
    <div class="row">
      <div class="span2"><div id="outline-pane">

          {{> page-date-block.html }}

          <h4 class="outline">Category</h4>
          {{# page.categories }}
            <a href="/categories#toc_{{ name }}">{{ name }}</a>
          {{/ page.categories }}

          <h4 class="outline">Tags</h4>
          {{# page.tags }}
            <a href="/tags#toc_{{ name }}">#{{ name }}</a><br/>
          {{/ page.tags }}

      </div></div>
      <div class="span8"><div id="contents-pane">

        <h1 class="post-title">{{ page.title }}</h1>

        {{{ content }}}

      </div></div>
      <div class="span2"><div id="menu-pane">

        {{> menu.html }}

      </div></div>
    </div>
  </div>

  {{> page-prev-next.html }}

  {{> footer.html }}

  {{> common-widgets.html }}

  </body>
</html>
