  <!-- ヘッダの固定ナビゲーション -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="{{ urls.base_path }}">俺式4.0 weblog</a>

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse collapse">

          <ul class="nav pull-right">
            <li><a href="http://www.tatsuya-koyama.com/4.0/html/index.html">Home</a></li>
            <li><a href="http://www.tatsuya-koyama.com/4.0/html/tkinfo/profile.html">Profile</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
