        <h2>Menu</h2>
        <ul class="sidebar-menu">
          <li><a href="{{ urls.base_path }}">Latest</a></li>
          <li><a href="{{ urls.base_path }}timeline/">Timeline</a></li>
          <li><a href="{{ urls.base_path }}categories/">Categories</a></li>
          <li><a href="{{ urls.base_path }}tags/">Tags</a></li>
        </ul>

        <hr class="menu"/>

        {{> profile.html}}

        <hr class="menu"/>

        <ul class="sidebar-menu-rss">
          <a href="{{ urls.base_path }}posts/rss.xml">RSS</a>
        </ul>
