
  <div id="profile-image">
    <div class="image-autofix">
      <a href="http://www.tatsuya-koyama.com/4.0/html/tkinfo/profile.html">
        <img src="{{urls.media}}/theme/me.png"
             style="margin-bottom: 0em;">
      </a>
    </div>
  </div>

  <p class="profile-name">Tatsuya Koyama</p>
  <p class="profile-job">Game Developer</p>

  <div id="profile-icons">
    <div class="image-autofix">
      <a href="http://www.tatsuya-koyama.com/4.0/html/index.html"
         rel="tooltip" data-toggle="tooltip" data-placement="top" title="Works">
        <img src="{{urls.media}}/theme/icon-home.png"
             alt="Works">
      </a>
    </div>

    <div class="image-autofix">
      <a href="https://github.com/tatsuya-koyama"
         rel="tooltip" data-toggle="tooltip" data-placement="top" title="GitHub">
        <img src="{{urls.media}}/theme/icon-github.png">
      </a>
    </div>

    <div class="image-autofix">
      <a href="https://twitter.com/tatsuya_koyama"
         rel="tooltip" data-toggle="tooltip" data-placement="top" title="Twitter">
        <img src="{{urls.media}}/theme/icon-twitter.png">
      </a>
    </div>

    <div class="image-autofix">
      <a href="http://www.youtube.com/user/dj08b05/videos?view=0"
         rel="tooltip" data-toggle="tooltip" data-placement="top" title="YouTube">
        <img src="{{urls.media}}/theme/icon-youtube.png">
      </a>
    </div>
  </div>

  <br/>
